@using StudyId.WebApplication.Extensions
@{
    ViewData["Title"] = "Manage Articles on the StudyId";
    Layout = "~/Views/Shared/_InsideLayout.cshtml";
}
@section Scripts
{
<script type="text/javascript">
    var role = @Html.ToJson(User.Identity.GetClaimRole());
</script>
<script src="~/js/controllers/articles/vue-articles-list.js"></script>
}
<div id="articles-list" class="container">
    <div class="alert alert-danger" v-if="error!=null && error!=''">{{error}}</div>
    <div class="course__breadcrumb breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item">
                <a href="@Url.Action("Index")" class="breadcrumb__link">Articles </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__current">
                    <i class="fa-solid fa-book-sparkles"></i> List of Articles
                </span>
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row mt-1 justify-content-end ">
                <div class="col-3">
                    <a class="btn btn-info text-white w-100" href="@Url.Action("Create")"><i class="fa-solid fa-plus"></i> Create Article</a>
                </div>
            </div>
            <br/>
            <div class="row mt-1 justify-content-around">
                <div class="col-5">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control shadow-none" placeholder="Search by Title or Route" aria-label="Search by Name or Email" aria-describedby="basic-addon1" v-model="q" v-on:input="debounceSearch">
                    </div>
                </div>
                <div class="col-2">
                    <date-picker v-model="from" format="DD/MM/YYYY"
                                 type="date"
                                 placeholder="From" input-class="form-control shadow-none"></date-picker>
                </div>
                <div class="col-2">
                    <date-picker v-model="to" format="DD/MM/YYYY"
                                 type="date"
                                 placeholder="To" input-class="form-control shadow-none"></date-picker>
                </div>
                <div class="col-3">
                    <v-select :options="categories" label="title" :reduce="item => item.value" v-model="category" placeholder="Category"></v-select>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col" style="width: 3%;">#</th>
                        <th scope="col" v-on:click="sortingBy('Title')" class="icon-button col-3">
                            Title
                            <i class="fa-solid" v-show="sortBy=='Title'" :class="{'fa-arrow-down-1-9':sortAsc, 'fa-arrow-up-9-1':!sortAsc}"></i>
                        </th>
                        <th scope="col" v-on:click="sortingBy('Route')" class="icon-button col-3">
                            Route
                            <i class="fa-solid" v-show="sortBy=='Route'" :class="{'fa-arrow-down-1-9':sortAsc, 'fa-arrow-up-9-1':!sortAsc}"></i>
                        </th>
                        <th scope="col" v-on:click="sortingBy('PublishOn')" class="icon-button" style="width: 11%;">
                            Publish Date
                            <i class="fa-solid" v-show="sortBy=='PublishOn'" :class="{'fa-arrow-down-1-9':sortAsc, 'fa-arrow-up-9-1':!sortAsc}"></i>
                        </th>
                        <th style="width: 10%;" v-on:click="sortingBy('Status')" class="icon-button">
                            Status
                            <i class="fa-solid" v-show="sortBy=='Status'" :class="{'fa-arrow-down-1-9':sortAsc, 'fa-arrow-up-9-1':!sortAsc}"></i>
                        </th>
                        <th scope="col" v-on:click="sortingBy('Category.Title')" class="icon-button">
                            Category
                            <i class="fa-solid" v-show="sortBy=='Category.Title'" :class="{'fa-arrow-down-1-9':sortAsc, 'fa-arrow-up-9-1':!sortAsc}"></i>
                        </th>
                        <th scope="col" v-on:click="sortingBy('Created')" class="icon-button col-2" style="width: 10%;">
                            Created
                            <i class="fa-solid" v-show="sortBy=='Created'" :class="{'fa-arrow-down-1-9':sortAsc, 'fa-arrow-up-9-1':!sortAsc}"></i>
                        </th>
                        <th class="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in items" v-bind:class="{'table-info':item.status=='Invited'}">
                        <th class="col-1">{{index+(itemsCount*(pageCurrent-1))+1}}</th>
                        <td>{{item.title}}
                            <span class="badge bg-info text-white" v-if="item.isPermanent">permanent</span>
                        </td>
                        <td><a :href="'/news-and-events/'+item.route" class="icon-button" target="_blank">{{item.route}}</a></td>
                        <td>{{item.publishOn}}</td>
                        <td>
                            <span v-bind:class="{'text-success':item.status=='Published'}">  {{item.status}}</span>
                        </td>
                        <td>
                            {{item.category}}
                        </td>
                        <td>{{item.created}}</td>
                        <td class="text-end">
                            <a :href="'/articles/edit/'+item.id" class="icon-button text-info"><i class="fa-solid fa-pen-to-square "></i></a>
                            <i class="fa-solid fa-trash-can icon-button" style="margin-left: 3px;" v-on:click="removePopup(item);" v-if="!item.isPermanent"></i>
                        </td>
                    </tr>
                    <tr v-if="items.length==0 && !loader">
                        <td colspan="7" class="text-center">There are no records.</td>
                    </tr>
                </tbody>
            </table>
            <div class="row mt-2">
                <ul class="pagination mt-1">
                    <li v-show="pagesBlocks >1">
                        <button class="page-link" title="Scroll to the first ten pages" :disabled="pagesBlock==1" v-on:click="pageBlockShiftTop(-1)"><i class="fa fa-angle-double-left"></i></button>
                    </li>
                    <li v-show="pagesBlocks >1">
                        <button class="page-link" title="(Alt+[) Scroll pages backward" :disabled="pagesBlock==1" accesskey="[" v-on:click="pageBlockShift(-1)"><i class="fa fa-angle-left"></i></button>
                    </li>
                    <li v-for="page in pages" v-show="page >= (pagesBlock-1) * pagesInPageBlock && page <= ((pagesBlock-1) * pagesInPageBlock + pagesInPageBlock)"
                        class="page-item" v-bind:class="{active:page==pageCurrent}">
                        <button href="#" class="page-link" v-on:click="setPage(page);">{{page}}</button>
                    </li>
                    <li v-show="pagesBlocks >1">
                        <button class="page-link" title="(Alt+]) Scroll pages forward" v-on:click="pageBlockShift(1)" accesskey="]"><i class="fa fa-angle-right"></i></button>
                    </li>
                    <li v-show="pagesBlocks >1">
                        <button class="page-link" title="Scroll to the last ten pages" v-on:click="pageBlockShiftTop(1)"><i class="fa fa-angle-double-right"></i></button>
                    </li>
                </ul>
            </div>
            <div class="row mt-1">
                <div class="d-inline-flex justify-content-start">
                    <div class="pagination-items-count mb-3 col-1">
                        <select class="form-select col-12" style="font-size: 14px;" v-model="itemsCount" v-on:change="changeItemsCount()">
                            <option v-for="item in itemsCountSelect" v-bind:value="item">
                                {{item}}
                            </option>
                        </select>

                    </div>
                    <div class="spinner-border text-info m-1" role="status" v-if="loader">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Remove Account Popup -->
    <div class="modal fade" id="remove-article" tabindex="-1" aria-hidden="true" v-if="operationalItem!=null">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remove Article</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-bind:disabled="operationalLoader"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove article: <span class="text-violet"><b>{{operationalItem.title}}</b></span>
                    <div class="alert alert-danger m-1" v-if="operationalError!=null">{{operationalError}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-bind:disabled="operationalLoader">Close</button>
                    <button type="button" class="btn btn-danger" v-bind:disabled="operationalLoader" v-on:click="remove();">
                        <div class="spinner-border spinner-border-sm text-white" role="status" v-if="operationalLoader">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <i class="fa-solid fa-trash-can" v-show="!operationalLoader"></i> Remove
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


