@model string
@using StudyId.WebApplication.Extensions
@{
    ViewData["Title"] = "Reset password for your account";
    Layout = "~/Views/Shared/_InsideLayout.cshtml";
}
@section Scripts
{
<script type="text/javascript">
    var token = @Html.ToJson(Model);
</script>
<script src="/js/controllers/auth/vue-auth-resetpassword.js" type="module"></script>
}
<div id="reset-app" class="contact__row2" style="margin-top:10%">
    <div class="contact__form-wrap">
        <div class="form__title">
            Reset password form
        </div>
        <div class="form__subtitle">
            Please, input your new password.
        </div>
        <div class="form__items">
            <div class="form__item">
                <input autocomplete="off" type="password" name="Password" data-error="Error" placeholder="New password*" class="input form__input" v-model.trim="$v.password.$model" v-bind:disabled="loader || success">
                <div class="error form__error" v-if="$v.password.$error && !$v.password.required">
                    This field is required
                </div>
            </div>
            <div class="form__item">
                <input autocomplete="off" type="password" name="NewPassword" data-error="Error" placeholder="Confirm password*" class="input form__input" v-model.trim="$v.newpassword.$model" v-bind:disabled="loader || success">
                <div class="error form__error" v-if="$v.newpassword.$error && !$v.newpassword.required">
                    This field is required
                </div>
                <div class="error form__error" v-if="$v.newpassword.$error && !$v.newpassword.pwdmatch">
                    The passwords aren't match'
                </div>
            </div>
            <div class="form__item" v-if="error!=null && error!=''">
                <div class="alert alert-danger">{{error}}</div>
            </div>
            <div class="alert alert-success" v-if="success">
                Your password was successfully changed, please use it on the login page.
            </div>
            <button class="button form__button" v-on:click="resetpassword();" v-if="!success">
                <span class="spinner-border spinner-border-sm text-light m-1" v-if="loader"></span>
                <span><i class="fa-solid fa-arrow-right-to-arc" v-if="!loader"></i> Continue</span>
            </button>
            <a class="button form__button" href="@Url.Action("Login")" v-if="success">
                <span class="spinner-border spinner-border-sm text-light m-1" v-if="loader"></span>
                <span><i class="fa-solid fa-arrow-right-to-arc" v-if="!loader"></i> Login</span>
            </a>

        </div>
    </div>
</div>
